@import "./shared";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif
}

body {
  background-color: $primary;
}

button {
  color: $font-color;
  background-color: $primary;
  outline: none;
  border: 3px solid $font-color;
  padding: 0.5rem;
  
  &.action {
    font-size: 1.2rem;
  }
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}