@import "./shared";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif
}

// body {
//   color: $font-color;
//   background-color: #222;
//   background-image: url(https://loremflickr.com/1920/1080/abstract);
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   font-size: 1em;
// }

body {
  background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
}

// $lineColor: #030617;
$lineColor: #030617;
$step: 3;
$borderWeight: 1px;

@function borderShadow ($n) {
  $value: '0px 0px #{$lineColor}';
  @for $i from 0 through $n {
    $value: '#{$value} , 0px #{($step)*$i}px #{$lineColor}';
  }
  @return unquote($value);
}

@function stripeShadow ($n) {
  $value: '0px 0px #{$lineColor}';
  @for $i from 0 through $n {
    $value: '#{$value} , #{($step)*$i}px 0px #{$lineColor}';
  }

  @return unquote($value);
}

$border:  borderShadow(1000);
$stripe:  stripeShadow(1000);

#grid {
  width: 100%;
  height: $borderWeight;
  box-shadow: $border;
  
  &:after {
    content: "";
    position: absolute;
    width: $borderWeight;
    height: 100%;
    box-shadow: $stripe;
  }    
}

button {
  border-radius: $radius;
  color: $font-color;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5rem;
  
  &.action {
    font-size: 1.2rem;
  }
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.glass {  
  position: relative;
  padding: 0.5rem;
  &>* {
    position: relative;
    z-index: 1;
  }
  &>.inner {
    @include glass-inner();
    z-index: 0;
  }
  &:hover .inner {
    filter: blur(0);
  }
  
}