@import "./shared";

.question-list {    
    padding: 0 0.5rem;
}

.score {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.question {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    padding: 1rem;
    margin-bottom: 2rem;

    &.answered {
        .correct {
            border-color: green;
        }

        .incorrect {
            border-color: red;
        }
    }


    .question-title {
        h3 {
            position: relative;
            z-index: 1;
        }
    }

    .question-difficulty {
        text-align: left;
        display: block;
        width: 100%;
        text-transform: capitalize;
    }

    .question-answers {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .answer {
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem;
            font-size: 1.1rem;
            font-weight: 500;
            border: 3px solid $font-color;
            border-radius: $radius;
            transition: transform 0.1s;
            align-items: center;
            @include shadow();

            .checkbox {
                height: 2rem;
                width: 2rem;
                margin-right: 1rem;
                border: 2px solid;
                &.answered {
                    background-color: $font-color;
                }
            }

            &:hover {
                @include shadow(10px);
                transform: translate(-5px, -5px);
            }
        }
    }
}

.round-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        margin-top: 1em;
    }
    width: 100%;
}

.result {
    margin-bottom: 1rem;
    border: 2px solid;
    padding: 0.5rem;
}

.headers {
    padding: 0.5rem;
    font-weight: 600;
}
    
.result__question {
    flex: 2;
    margin-right: 2em;
}

.result__given, .result__correct {
    flex: 1;
}