.question-list {    
    padding: 0 0.5rem;
}

.question {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    padding: 1rem;
    margin-bottom: 2rem;

    .question-title {
        h3 {
            position: relative;
            z-index: 1;
        }
    }

    .question-difficulty {
        text-align: left;
        display: block;
        width: 100%;
        text-transform: capitalize;
    }

    .question-answers {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}