@import "./shared";

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-hero {
    position: relative;
    width: calc(100% / 3 - 2rem);
    min-width: 15rem;
    margin: 1rem;
    color: $font-color;
    text-decoration: none;
    text-align: center;
    border: 1px solid $font-color;
    transition: transform 0.1s;
    cursor: pointer;
    @include shadow(5px);

    &:hover {    
        @include shadow(10px);
        transform: translate(-5px, -5px);
    }
}